.Boton {
    background: black;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 20px;
    font-size: 10px;
    color:white;
    min-width: 24%;
    margin: 0 auto;
}

.Boton[data-value="null"] {
    pointer-events: none;
}

.Boton:hover {
    background:white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}