.productos{
    border: 1px solid black;
    position: fixed;
    top: 54px;
    padding: 5px;
    width: 374px;
    text-align: left;

}
.productos h6{
    display: flex;
    justify-content:space-between;
    margin-top: 2px;
    text-align: center;
}
.articulos{
    font-size: 64%;
}
.precio{
    position:relative;
    padding-top: 2px;
    width:98%;
}
span{
    background-color: black;
    color: white;
    margin-left: 4px;
    border: solid 1px black;
    border-radius: 35%;
    padding: 2px 10px 2px 10px;
    text-align: center;
    font-size: 66%;
}