.productos{
    border: 1px solid black;
    position: fixed;
    top: 54px;
    padding: 5px;
    width: 300px;
    text-align: left;

}
.productos h6{
    text-align: center;
}
.articulos{
    font-size: 59%;
}
.precio{
    padding-top: 5px;
}